@use '@angular/material' as mat;
@use 'sass:map';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent
    )
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-grey-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent
    )
  )
);

// Apply the light theme only when the `.my-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.light {
  $color-config: mat.get-color-config($light-theme);
  $background-palette: map.get($color-config, 'background');
  @include mat.all-component-themes($light-theme);
  background: map.get($background-palette, 'background');
}

.dark {
  $color-config: mat.get-color-config($dark-theme);
  $background-palette: map.get($color-config, 'background');
  @include mat.all-component-themes($dark-theme);
  background: map.get($background-palette, 'background');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
